:root {
  --bg-dark-color: #000;
  --text-dark-color: #fafafa;
  --text-dark-subtext-color: #808080;
  --text-green-subtext-color: #63ff4f;
  --text-highlight: #cb9aff;
  --seperator: #291f33;
  --btn-hover: #a653ff;
}

::selection {
  color: var(--text-highlight);
  background: var(--seperator);
}

@font-face {
  font-family: "BDO Grotesk";
  src: url(src/font/BDOGrotesk-VF.ttf) format("truetype");
}

.p-min {
  font-weight: 300;
  font-size: 12px;
  line-height: 17px;
}

p {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
}

#oneko {
  z-index: 5000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "BDO Grotesk", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: var(--bg-dark-color);
  color: var(--text-dark-color);
}

/* Content */
main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding: 50px 20px;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  gap: 50px;
}

hr {
  width: 100%;
  height: 1px;
  background: var(--text-dark-subtext-color);
}

header,
.content,
#repos {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 10px;
}

nav,
.content-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-info,
.nav-info {
  display: flex;
  align-items: center;
}

.top-info {
  gap: 5px;
}

.nav-info {
  gap: 10px;
}

.content-social {
  display: flex;
  gap: 10px;
}

.ping {
  width: 5px;
  height: 5px;
}

.ping-ava {
  width: 5px;
  height: 5px;
  background: var(--text-green-subtext-color);
  animation: ping-ava 1.5s infinite ease-in-out;
}

@keyframes ping-ava {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.logo {
  fill: var(--text-dark-color);
  transition: all 1.5s;
}

.logo:hover {
  transform: rotate(360deg);
  transition: all 1.5s;
}

/* Hero Title */
.content-name {
  padding: 0px 10px;
  color: var(--text-highlight);
  background: #291f33;
}

.content-name:hover {
  background: none;
  cursor: se-resize;
}

.hover-image {
  width: 100px;
  position: absolute;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out,
    visibility 0s linear 0.3s;
  transform: scale(0.95);
  box-shadow: var(--bg-dark-color) 0px 10px 30px 0px;
}

.hover-image.hover-visible {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out,
    visibility 0s linear 0s;
}

/* Text Decoration */
b {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: var(--text-dark-color);
}

.link-btn {
  color: var(--text-highlight);
  text-decoration: none;
  font-weight: 500;
}

.link-btn:hover {
  text-decoration: underline;
  cursor: pointer;
}

.content-bold {
  padding: 0px 5px;
  color: var(--text-highlight);
  background: #291f33;
  font-weight: 500;
}

.sub-content {
  color: var(--text-dark-subtext-color);
}

/* Projects Card */
.content-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 275px;
  transition: all 0.2s;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition: all 0.2s;
}

/* Button */
.button,
.button-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: var(--bg-dark-color);
  background: var(--text-highlight);
  border: none;
  transition: all 0.2s;
}

.button-mobile {
  display: none;
}

.button:hover,
.button-mobile:hover {
  background-color: var(--btn-hover);
  color: var(--text-dark-color);
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s;
}

.btn-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}

.btn-social:hover {
  cursor: pointer;
}

.btn-social:hover .icon-social {
  filter: brightness(100);
}

/* Animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated {
  opacity: 0;
  animation: fadeInUp 0.8s ease forwards;
}

.animated:nth-child(1) {
  animation-delay: 0.2s;
}

.animated:nth-child(2) {
  animation-delay: 0.4s;
}

.animated:nth-child(3) {
  animation-delay: 0.6s;
}

.animated:nth-child(4) {
  animation-delay: 0.8s;
}

/* Animation Scroll */
.hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.visible {
  opacity: 1;
  transform: translateY(0);
  animation: fadeInUp 0.8s ease forwards;
}

/* Media */
@media screen and (max-width: 700px) {
  .card {
    width: 100%;
  }
  .button {
    display: none;
  }
  .button-mobile {
    display: flex;
  }
  #oneko {
    display: none;
  }
}
